services:
  dnsmasq:
    build: .
    container_name: dnsmasq
    restart: unless-stopped
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      # Map your host-style file
      - ./custom-hosts.conf:/etc/dnsmasq.hosts
      # Map a main config file to tell dnsmasq to use it
      - ./dnsmasq.conf:/etc/dnsmasq.conf
    cap_add:
      - NET_ADMIN
    environment:
      - DNS1=1.1.1.1
      - DNS2=8.8.8.8
