services:
  vcf9:
    build: .  # This tells Docker Compose to build from the Dockerfile in current directory
    image: vcf9  # Tags the built image as 'vcf9'
    container_name: vcf9
    privileged: true
    ports:
      - "9443:443"
      - "922:22"
    restart: unless-stopped