services:
  frr-bgp:
    build: .
    image: frr
    container_name: frr-bgp
    privileged: true
    network_mode: "host"
    volumes:
      - /lib/modules:/lib/modules:ro
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      - SYS_ADMIN