vyos@vyos#  show
 interfaces {
     ethernet eth0 {
         address 192.168.50.254/24
         hw-id 00:0c:29:75:e7:c6
         mtu 9000
         offload {
             gro
             gso
             sg
             tso
         }
         vif 51 {
             address 192.168.51.254/24
             description vmotion
             mtu 9000
         }
         vif 52 {
             address 192.168.52.254/24
             description nfs
             mtu 9000
         }
         vif 54 {
             address 192.168.54.254/24
             mtu 9000
         }
     }
     ethernet eth1 {
         address 10.1.1.254/24
         description nfs
         hw-id 00:0c:29:75:e7:d0
         mtu 9000
         offload {
             gro
             gso
             sg
             tso
         }
         vif 51 {
             address 10.51.51.254/24
             description vmotion
             mtu 9000
         }
         vif 54 {
             address 10.54.54.254/24
             description mgt.htep54
             mtu 9000
         }
     }
     loopback lo {
     }
 }
 protocols {
     static {
         route 0.0.0.0/0 {
             next-hop 192.168.50.1 {
             }
         }
     }
 }
 service {
     ntp {
         allow-client {
             address 127.0.0.0/8
             address 169.254.0.0/16
             address 10.0.0.0/8
             address 172.16.0.0/12
             address 192.168.0.0/16
             address ::1/128
             address fe80::/10
             address fc00::/7
         }
         server time1.vyos.net {
         }
         server time2.vyos.net {
         }
         server time3.vyos.net {
         }
     }
     ssh {
         disable-host-validation
         port 22
     }
 }
 system {
     config-management {
         commit-revisions 100
     }
     console {
         device ttyS0 {
             speed 115200
         }
     }
     host-name vyos
     login {
         operator-group default {
             command-policy {
                 allow "*"
             }
         }
         user vyos {
             authentication {
                 encrypted-password $6$rounds=656000$nDePnyo5WQggHUpj$eCKvodXd2aUo4PQ38MFxszcgepexDKTlp4YlacyY6Y0JyXkKQifKRiQUc4nWGWfeY70Ie4Pkvnq8R0FGX2EIB.
                 plaintext-password ""
             }
         }
     }
     option {
         reboot-on-upgrade-failure 5
     }
     syslog {
         local {
             facility all {
                 level info
             }
             facility local7 {
                 level debug
             }
         }
     }
 }