
change the mtu size on the router
sudo -s
sudo ip link set dev eth0 mtu 9000

vyos@vyos:~$ conf
[edit]
vyos@vyos# show
 interfaces {
     ethernet eth0 {
         address 192.168.50.254/24
         hw-id 00:0c:29:52:7d:18
         mtu 9000
         offload {
         }
         vif 51 {
             address 192.168.51.254/24
             description vmotion
             mtu 9000
         }
         vif 52 {
             address 192.168.52.254/24
             description nfs
             mtu 9000
         }
         vif 54 {
             address 192.168.54.254/24
             description htep
             mtu 9000
         }
     }
     loopback lo {
     }
 }
 protocols {
     static {
         route 0.0.0.0/0 {
             next-hop 192.168.50.1 {
             }
         }
     }
 }
 service {
     ntp {
         allow-client {
             address 127.0.0.0/8
             address 169.254.0.0/16
             address 10.0.0.0/8
             address 172.16.0.0/12
             address 192.168.0.0/16
             address ::1/128
             address fe80::/10
             address fc00::/7
         }
         server time1.vyos.net {
         }
         server time2.vyos.net {
         }
         server time3.vyos.net {
         }
     }
     ssh {
         disable-host-validation
         port 22
     }
 }
 system {
     config-management {
         commit-revisions 100
     }
     console {
         device ttyS0 {
             speed 115200
         }
     }
     host-name vyos
     login {
         operator-group default {
             command-policy {
                 allow "*"
             }
         }
         user vyos {
             authentication {
                 encrypted-password $6$rounds=656000$G6KQDT4lKBrugViv$7LAK/FfSg/5UeUhzeiORvNmzYz6lBXzd6MANGPFkGb5N5tIqmHSzOVWsNJw15E/lmDrcoCsW3EDztUD2trFYA.
                 plaintext-password ""
             }
         }
     }
     name-server 192.168.50.1
     option {
         reboot-on-upgrade-failure 5
     }
     syslog {
         local {
             facility all {
                 level info
             }
             facility local7 {
                 level debug
             }
         }
     }