services:
  ntp:
    image: cturra/ntp:latest
    container_name: ntp-server
    restart: unless-stopped
    ports:
      - "123:123/udp"
    environment:
      - NTP_SERVERS=time1.google.com,time.cloudflare.com,pool.ntp.org
      - NTP_ALLOW=0.0.0.0/0
      - LOG_LEVEL=1
      - TZ=Asia/Singapore
    cap_add:
      - SYS_TIME