services:
  ntp:
    image: cturra/ntp:latest
    container_name: ntp-server
    restart: unless-stopped
    ports:
      - "123:123/udp"
    cap_add:
      - SYS_TIME
    environment:
      - NTP_SERVERS=0.pool.ntp.org,1.pool.ntp.org,2.pool.ntp.org,3.pool.ntp.org
      - NTP_ALLOW=127.0.0.1 192.168.0.0/16 10.0.0.0/8
      - LOG_LEVEL=1
      - TZ=Asia/Singapore